RewriteEngine On

# Só redirecionar .php se o método for GET
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^\s]+)\.php\sHTTP
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^(.*)\.php$ /$1 [R=301,L]

# Reescrever URLs amigáveis para .php reais
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [